<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <!-- <meta http-equiv="refresh" content="1"> -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>邮乐官方网站-网上购物新选择</title>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/index.css" />

    <link rel="shoutcut icon" href="images/imagesIndex/favicon.ico" />

</head>

<body>
                                   <!--灰 顶部导航-->
    <div class="t100">
        <div class="t2h35">
            <dl>
                <dt><a href="#"><img src="images/imagesIndex/ico_return-home.png" alt="home" /></a></dt>
                <dt><a href="#">邮乐首页</a></dt>
                <dd>
                    <ul>
                        <li class="noborder paddR">您好,欢迎来到邮乐网!</li>
                        <li class='blue noborder nopadd'><a href="#">[请登录]</a></li>
                        <li class='blue noborder paddR'><a href="#">[免费注册]</a></li>
                        <li class="change w992">
                            <a href="#">我的邮乐 <span class="arr"></span></a>
                            <ul class='down'>
                                <li><a href="#">我的订单</a></li>
                                <li><a href="#">我的关注</a></li>
                                <li><a href="#">我的站内信</a></li>
                            </ul>
                        </li>
                        <li class="change w992">
                            <a href="#">集采批发</a> <span class="arr"></span>
                            <ul class='down'>
                                <li><a href="#">集团采购&nbsp;&nbsp;</a></li>
                                <li><a href="#">商品批发</a></li>
                            </ul>
                        </li>
                        <li class="all change w992">
                            <span class="allIcon"></span><a href="#">全部商品分类</a> <span class="arr"></span>
                            <div class="biggest">
                                 <!-- ajax biggest.json -->
                            </div>
                        </li>
                        <li class=" w992"><a href="#">网站地图</a></li>
                        <li class="change w992">
                            <a href="#">帮助中心</a> <span class="arr"></span>
                            <ul class='down'>
                                <li><a href="#">购物指南&nbsp;&nbsp;</a></li>
                                <li><a href="#">支付帮助</a></li>
                                <li><a href="#">配送方式</a></li>
                                <li><a href="#">售后服务</a></li>
                                <li><a href="#">关于邮乐</a></li>
                            </ul>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
                                   <!--logo 搜索条-->
    <dl class="seaBar">
        <dt><a href="邮乐"><img src="images/imagesIndex/logo.png" alt="" /></a>邮乐网</dt>
        <dd class='search'>
            <form action="">
                <input class="Bar" placeholder='秋季服饰折上返券' name="userSearch" type="text">
                <input value='' name="userSearch" type="submit" class="userSubmit">
            </form>
            <ul class="searchBottom">
                <!-- searchBottom.json -->
            </ul>
        </dd>
        <dd class='car'>
            <a>购物车<span>0</span></a>
            <div class="carDown">
                <p>您的购物车里还没有任何东西<br />赶快去添加吧</p>
            </div>
        </dd>
    </dl>
    <%导航条%>
    <script src='js/jquery-1.11.1.min.js'></script>
    <%主内容%>
    

    
</body>
</html>    


