                       <!--深红 主分类-->
    <div class="navBg">
        <ul>
            <li><a href="#">首页</a></li>
            <li class='hot'><a href="#">聚热销<img src="images/imagesIndex/ico_new.png" alt="新" /></a></li>
            <li><a href="#">天天热卖</a></li>
            <li><a href="#">海外馆</a></li>
            <li><a href="#">各地特产</a></li>
            <li><a href="#">邮乐农品</a></li>
            <li><a href="#">生活缴费</a></li>
            <li><a href="#">邮乐旅行</a></li>
            <li class="last1" id="last1">
                <a href="#">兑奖卡券<span></span></a>
                <!-- last1.json -->
            </li>
            <li class="last2" id="last2">
                <a href="#">手机邮乐<span></span></a>
                <!-- last2.json -->
            </li>
        </ul>
    </div>