    <link rel="stylesheet" href="css/index.css" />
    
                                   <!--主banner-->
    <div class="bannerBg">
        <div class="bannerarea">
            <!-- ajax banner.json -->
        </div>
        <div class="bannerFoot"></div>
    </div>
                                   <!--左侧导航-->
    <div class="navY">
        <dl class="Yl">
            <dt class="Yldt"></dt>
            <dd class="Yldd">
                <p><span class="navYicon"></span>手机/数码</p>
                <div class="type">
                    <!-- leftNav1.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>电脑办公</p>
                <div class="type">
                    <!-- leftNav2.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>家用电器</p>
                <div class="type">
                    <!-- leftNav3.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>美妆/洗护</p>
                <div class="type">
                    <!-- leftNav4.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>女装/饰品/配件</p>
                <div class="type">
                    <!-- leftNav5.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>箱包鞋帽</p>
                <div class="type">
                    <!-- leftNav6.json -->
               </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>魅力男装</p>
                <div class="type">
                    <!-- leftNav7.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>运动/户外/器械</p>
                <div class="type">
                    <!-- leftNav8.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>母婴/玩具</p>
                <div class="type">
                    <!-- leftNav9.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>特色美食/进口食品</p>
                <div class="type">
                    <!-- leftNav10.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>保健品</p>
                <div class="type">
                    <!-- leftNav11.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>家居生活</p>
                <div class="type">
                    <!-- leftNav12.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>厨卫清洁</p>
                <div class="type">
                    <!-- leftNav13.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>汽车用品</p>
                <div class="type">
                    <!-- leftNav14.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>商务礼品</p>
                <div class="type">
                    <!-- leftNav15.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>图书/音像</p>
                <div class="type">
                    <!-- leftNav16.json -->
                </div>
            </dd>
            <dd class="Yldd">
                <p><span class="navYicon"></span>消费卡券/票券</p>
                <div class="type t-100">
                    <!-- leftNav17.json -->
                </div>
            </dd>
            <dd class="Yldd greenFood">
                <p><span class="navYicon"></span>绿色食品</p>
            </dd>
        </dl>
                                   <!--中间导航-->      
        <div class="navMiddle">
            <!-- navBottom.json -->
        </div>
                                   <!--右侧导航-->
        <dl class="Yr">
            <dt class='Rt'>
                <ul class="RtHead">
                    <li><a href="#">话费充值</a></li>
                    <li class="current"></li>
                    <li><a href="#">缴水电煤</a></li>
                </ul>
                <div  class="phoneArea">
                    <ul class="h248">
                        <li class="num">
                            <span class="gray">手机号</span>
                            <input type="text" placeholder="支持移动/联动/电信"/>
                        </li>
                        <li class="val">
                            <span class="gray">面值</span>
                            <select>
                                <option value="100元">100元</option>
                                <option value="20元">20元</option>
                                <option value="30元">30元</option>
                                <option value="50元">50元</option>
                            </select>
                        </li>
                        <li class="change"><h6><p>99.5</p>元</h6><a href="#"></a></li>
                        <li class="btn"><input type="button" value="立即充值" /></li>
                        <li class="city">
                            <span class="gray">缴费城市</span>
                            <select>
                                <option value="">北京</option>
                                <option value="">上海</option>
                                <option value="">广州</option>
                                <option value="">其他城市暂未开通</option>
                            </select>
                        </li>
                        <li class="a3">
                            <a href="#">缴水费</a>
                            <a href="#">缴电费</a>
                            <a href="#">缴燃气费</a>
                        </li>
                    </ul>
                </div>
                <div class="note">
                    <span></span>
                    <p>
                        温馨提示：<br />
                        缴水电煤不支持邮乐卡支付
                    </p>
                </div>
                <div class="litBanArea">
                    <ul class="litBan">
                        <li><a href="#"><img src="images/imagesIndex/b4-1.jpg" height="120" width="220" alt="" /></a></li>
                        <li><a href="#"><img src="images/imagesIndex/b4-2.jpg" height="120" width="220" alt="" /></a></li>
                        <li><a href="#"><img src="images/imagesIndex/b4-3.jpg" height="120" width="220" alt="" /></a></li>
                        <li><a href="#"><img src="images/imagesIndex/b4-4.jpg" height="120" width="220" alt="" /></a></li>
                    </ul>
                    <ol class="litBanFooter">
                        <li class="current">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ol>
                </div>
            </dt>
            <dd class='Rb'>
                <ul class="title">
                    <li class="text"><h3>品牌店铺推荐</h3></li>
                    <li class="prev"></li>
                    <li class="num">1</li>
                    <li class="next"></li>
                </ul>
                <img src="images/imagesIndex/hover.jpg" height="214" width="220" alt="" />
                <div class="hover"></div>
            </dd>
        </dl>
    </div>
                                   <!--三分栏-->
    <ul class="navBottom">
        <!-- banner3.json -->
    </ul>
                                   <!--F1 各地特产-->
    <dl class="main">
        <dd class="f1 floor">
            <!-- floor1.json -->
        </dd>
                                   <!--F2 手机数码-->
        <dd class="f2 floor">

        </dd>
                                   <!--F2.5 banner-->
        <dd class="img4">
            
        </dd>
                                   <!--F3 家用电器-->
        <dd class="f3 floor">

        </dd>
                                   <!--F4 美妆/洗护-->
        <dd class="f4 floor">

        </dd>
                                   <!--F5 女装/饰品/配件-->
        <dd class="f5 floor">

        </dd>
                                   <!--F5.5 banner-->
        <dd class="img4">
            
        </dd>
                                   <!--F6 魅力男装-->
        <dd class="f6 floor">

        </dd>
                                   <!--F7 箱包鞋帽-->
        <dd class="f7 floor">

        </dd>
                                   <!--F8 母婴玩具-->
        <dd class="f8 floor">

        </dd>
                                   <!--F8.5 banner-->
        <dd class="img4">
            
        </dd>
                                   <!--F9 家居/厨卫-->
        <dt class="f9 floor">

        </dt>
                                   <!--F10 运动/汽配-->
        <dt class="f10 floor">
    
        </dt>
                                   <!--F11 食品/保健品-->
        <dt class="f11 floor">

        </dt>
                                   <!--F11.5 banner-->
        <dd class="img4">
            
        </dd>
    </dl>
                                   <!--  底部版权  -->
    <ul class="footer">  
        <!-- footer.json -->
    </ul>

    <script src="js/index.js"></script>
